DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_PAPER=

IBKR_HOST=
IBKR_PORT=
IBKR_CLIENT_ID=

PROVIDER=

http_proxy=
https_proxy=
HTTP_PROXY=
HTTPS_PROXY=
no_proxy=
NO_PROXY=